streamlit
pandas
numpy
scipy
scikit-learn
spacy==3.6.1
pyspellchecker
joblib
openpyxl
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl