# Core app
streamlit==1.28.0
spacy==3.7.4
pyspellchecker==0.7.5
joblib==1.3.2
pandas==2.1.1
numpy==1.26.4
scikit-learn==1.3.2

# Lock supporting packages to prevent conflicts
pygments==2.19.2
markdown-it-py==4.0.0
mdurl==0.1.2
rich==14.3.3

# Include spaCy model so it doesn't download at runtime
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl